@import "../../mixins";
.cartPage {
  border-top: 1px solid rgb(224, 219, 219);
  margin-top: 10px;
  .container {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      h2 {
        @include heading;
        font-size: 60px !important;
      }
      .content {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        position: relative;
        .cartDetail {
          width: 70%;
          position: relative;
          .title {
            display: flex;
            width: 100%;
            justify-content: space-between;
            border-bottom: 1px solid rgb(224, 219, 219);

            .quantity {
              padding-right: 100px;
            }
          }
          p {
            font-size: 14px;
            color: #221c35;
            padding-bottom: 20px;
          }

          .cartItem {
            width: 100%;

            display: flex;
            justify-content: space-between;
            gap: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgb(224, 219, 219);
            .quantityNum {
              width: 100%;
              display: flex;
              margin-top: 10px;
              padding-right: 6px;
              justify-content: end;
              .count {
                display: flex;
                .control {
                  cursor: pointer;
                  color: rgb(71, 71, 71);
                  font-size: 11px;
                  margin: 17px;
                }
                .quantity {
                  font-size: 14px;
                  margin-top: 13px;
                }
              }
              .removeItem {
                margin-top: 10px;
                margin-left: 20px;
                .remove {
                  cursor: pointer;
                  color: #221c35;
                  font-size: 13px;
                  transition: color 0.2s ease-in;
                  &:hover {
                    color: red;
                  }
                }
              }
            }
            .product {
              display: flex;
              width: 100%;
              gap: 20px;
              margin-top: 20px;
              img {
                width: 75px;
                height: 85px;
              }
              h3 {
                @include heading;
                font-size: 25px !important;
              }
            }
            .price {
              font-size: 14px;
              font-weight: 700;
              margin-top: 20px;
              color: #221c35;
              width: 100%;
              margin-left: 60px;
            }
          }
        }
        .cartPayDetail {
          width: 30%;
          .cartPay {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 20px;
            margin-left: 30px;
            .total {
              border-bottom: 1px solid rgb(224, 219, 219);
              display: flex;
              text-align: center;
              width: 100%;
              justify-content: space-between;
              p {
                font-size: 14px;
                color: #221c35;
                padding-bottom: 20px;
              }
            }
            .checkout {
              width: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              a {
                margin-top: 10px;
                width: 100%;
                text-align: center;
                @include learnMore;
              }
              .shopPay {
                margin-top: 20px;
                padding: 16px 60px;
                border-radius: 5px;
                background-color: #5433eb;
                &:hover {
                  background-color: #4a2e97;
                }
              }
              .paypal {
                background: #ffc439;
                padding: 16px 60px;
                border-radius: 5px;
                img {
                  width: 76px;
                  height: 24px;
                }
                &:hover {
                  background-color: #f8b720;
                }
              }
              .gpay {
                background-color: #000;
                padding: 16px 60px;
                border-radius: 5px;
                &:hover {
                  background-color: #000000da;
                }
              }
            }
          }
          .payFaq {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 30px;
            margin-top: 20px;
            ul {
              li {
                border-top: 1px solid rgb(224, 219, 219);
                padding-top: 10px;
                .questions{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  cursor: pointer;
                  h3 {
                    @include heading;
                    font-size: 36px !important;
                  }
                  .icon {
                   font-size: 25px;
                   color: grey;
                  }
                }
                p {
                  font-size: 14px;
                  color: #221c35;
                  padding-bottom: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}