@import "../../mixins";
.cardDetail {
  .row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .productMore {
      display: flex;
      width: 100%;
      .productMoreImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        gap: 5px;
        justify-content: center;
        padding-left: 30px;
        .moreImages {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          justify-content: center;
          padding-right: 2px;
          img {
            width: 100px;
            height: 110px;
            object-fit: cover;
            cursor: pointer;
          }
        }
        .leftRightIcon {
          display: none;
        }
      }
      .mainProduct {
        img {
          width: 80vw;
          max-width: 880px;
          height: auto;
          object-fit: cover;
        }
      }
    }
    .mainProductDetails {
      .mainProductDetailsContainer {
        width: 90%;
        margin: 0 auto;
        .detailNavigate {
          display: flex;
          align-items: center;
          gap: 8px;
          width: 100%;
          border-bottom: 1px solid rgb(216, 214, 214);
          padding: 7px 7px 7px 0;
          p {
            font-size: 12px;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
        .productMode {
          font-size: 14px;
          color: #000000d5;
          margin: 20px 0 25px 0;
        }
        .productTitle {
          @include heading;
          // font-size: 48px !important;
        }
        .productRating {
          display: flex;
          align-items: center;
          gap: 7px;
          img {
            width: 15px;
            height: 15px;
            margin-right: 5px;
          }
          p {
            font-size: 12px;
            color: #000;
          }
        }
        .productColor {
          margin: 22px 0;
        }
        button {
          @include learnMore;
          border: none;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            margin: 0 10px;
          }
        }
        .delivery {
          display: flex;
          align-items: center;
          width: 100%;
          margin: 20px 0;
          a {
            font-size: 12px;
            text-decoration: underline;
          }
          img {
            width: 25px;
            height: 20px;
            margin: 0 10px 0 0;
          }
        }
        .productCom {
          font-size: 36px;
          color: #221c35;
          font-family: "La Mango Light", Arial, sans-serif;
        }
        .productAbout {
          font-size: 14px;
          color: #221c35;
          line-height: 1.6;
          border-bottom: 1px solid rgb(216, 214, 214);
          padding-bottom: 21px;
        }
        .toggleMenu {
          .faq {
            border-bottom: 1px solid rgb(216, 214, 214);
            padding: 20px 0;
            .question {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding-bottom: 5px;
              cursor: pointer;
              h3 {
                font-size: 36px !important;
                @include heading;
              }
            }
          }
          .answer {
            margin-top: 20px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .cardDetail {
    margin-top: 12%;
    .row {
      .mainProduct {
        img {
          max-width: 800px;
        }
      }
    }
  }
}
@media (max-width: 1340px) {
  .cardDetail {
    .row {
      .mainProduct {
        img {
          max-width: 700px;
        }
      }
    }
  }
}
@media (max-width: 1170px) {
  .cardDetail {
    .row {
      .mainProduct {
        img {
          max-width: 600px;
        }
      }
    }
  }
}
@media (max-width: 1050px) {
  .cardDetail {
    .row {
      .mainProduct {
        img {
          max-width: 500px;
        }
      }
    }
  }
}
@media (max-width: 990px) {
  .cardDetail {
    .row {
      .productMore {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 50%;
        padding-left: 7px;
        .productMoreImg {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding-left: 0;
          .moreImages {
            flex-direction: row;
            justify-content: center;
          }
          .inOutIcon {
            display: none;
          }
          .leftRightIcon {
            display: block;
          }
        }
        .mainProduct{
          img {
            max-width: 400px;
          }
        }
      }
    }
  }
}
@media (max-width:750px){
  .cardDetail {
    margin-top: 10%;
    .row {
      flex-direction: column;
      .productMore {
       margin-top: 82px;
       width: 100%;
       .productMoreImg{
        display: flex;
        justify-self: start;
        width: 100%;
       }
       .mainProduct {
        img{
          max-width: 100%;
        }
       }
      }
      .mainProductDetails{
        .mainProductDetailsContainer{
          .detailNavigate{
            position: absolute;
            top: 130px;
            border: none;
          }
        }
      }
    }
  }
}
@media (max-width:450px){
  .cardDetail {
    margin-top: 12%;
    .row {
      flex-direction: column;
      .productMore {
        margin-top: 82px;
        width: 100%;
       .productMoreImg{
        display: flex;
        justify-self: start;
        width: 100%;
        .leftRightIcon{
          display: none;
        }
        .moreImages{
          img{
            width: 70px;
            height: 100px;
          }
        }
       }
      }
    }
  }
}
