@import "../../mixins";
.bestSeller {
  .container {
    width: 98%;
    margin: 0 auto;
    .row {
      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      h3 {
        @include heading;
      }
      .carts {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        .cart {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          .rating {
            font-size: 14px;
            margin-right: 5px;
            margin-top: 15px;
            display: flex;
            justify-content: start;
            width: 100%;
            align-items: center;
            img {
              width: 19px;
              height: 19px;
              margin-right: 2px;
            }
          }
          img {
            // width: 360px;
            height: 405px;
          }
          .cartText {
            width: 100%;
            h3 {
              font-size: 26px;
              color: #221c35;
              margin-bottom: 5px;
            }
            h4 {
              font-size: 13px;
              color: #221c35;
              margin-bottom: 12px;
            }
            p {
              font-size: 16px;
              color: #221c35;
              margin-bottom: 25px;
            }
          }
          a {
            text-align: center;
            width: 100%;
            margin-bottom: 15px;
            @include learnMore;
          }
          .type {
            background-color: white;
            padding: 3px 7px;
            border-top-left-radius: 7px;
            border-bottom-right-radius: 7px;
            color: #221c35;
            position: absolute;
            top: 10px;
            left: 10px;
            p {
              font-size: 12px;
              margin-bottom: 5px;
              letter-spacing: 1.3px;
            }
          }
          .countColor {
            position: absolute;
            bottom: 34%;
            left: 10px;
            .hoverImgsMoreCount {
              display: flex;
              img {
                width: 50px;
                height: 16px;
                margin-right: 2px;
              }
              p {
                font-size: 13px;
              }
            }
          }
          .hiddenDiv {
            transition: all 0.5s ease-in-out;
            opacity: 0;
            height: 0;
            transform: translateY(60px);
            overflow: hidden;
          }
          .hoverDiv {
            z-index: 99;
            position: absolute;
            bottom: 33%;
            left: 0;
            background: white;
            width: 100%;
            max-height: 0;
            color: black;
            display: flex;
            justify-content: start;
            flex-direction: column;
            opacity: 0;
            transform: translateY(60px);
            transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out,
              max-height 0.5s ease-in-out;
            .hoverText {
              padding: 10px 5px;
            }
            .hoverImages {
              display: flex;
              flex-wrap: wrap;
              gap: 3px;
              padding: 10px 5px;
              .hoverImgs {
                img {
                  width: 50px;
                  height: 16px;
                  cursor: pointer;
                  transition: transform 0.4s ease-in;

                  &:hover {
                    border: 1px solid black;
                  }
                }
                .color {
                  &:hover {
                    border: 1px solid black;
                  }
                }
              }
            }
            p {
              font-size: 14px;
              padding: 12px 0px;
            }
            span {
              font-size: 12px;
              margin-bottom: 25px;
              letter-spacing: 1.1px;
            }
          }
          &:hover {
            .hoverDiv {
              opacity: 1;
              max-height: 200px;
              transform: translateY(0);
            }
          }
        }
      }

      .seeAll {
        margin-top: 60px;
        margin-bottom: 70px;
        a {
          @include learnMore;
        }
      }
    }
  }
}

@media (max-width: 1561px) {
  .bestSeller {
    .carts {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 20px;
      .cart {
        flex: 0 0 auto;
        width: 300px;
        img{
          width: 300px;
        }
        .cartText {
          h3 {
            font-size: 23px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1340px) {
  .bestSeller {
    .container {
      .row {
        display: flex;
        flex-wrap: wrap;
        .carts {
          // display: flex;
          // align-items: center;
          // flex-wrap: wrap;
          // justify-content: center;
          // gap: 15px;
          .cart {
            flex: 0 0 auto;
            width: 260px;
            img {
              width: 250px;
            }
            .cartText {
              h3 {
                font-size: 20px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {
  .bestSeller {
    .container {
      .row {
        .carts {
          display: grid !important;
          grid-template-columns: repeat(4, 1fr) !important;
          .cart {
            flex: 0 0 auto;
            width: 230px;
            a {
              font-size: 12px !important;
            }
            .cartText {
              h3 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
              }
              h4 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 200px;
              }
            }
            .countColor {
              .hoverImgsMoreCount {
                img {
                  width: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .bestSeller {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
      .row {
        .carts {
          display: grid !important;
          grid-template-columns: repeat(4, 1fr) !important;
          gap: 5px !important;
          align-items: center;
          justify-content: center;
          width: 100%;
          .cart {
            flex: 0 0 auto;
            width: 100%;
            img {
              width: 213px;
              height: 213px;
            }
            .cartText {
              h4 {
                font-size: 12px;
              }
            }
            .countColor {
              .hoverImgsMoreCount {
                position: absolute;
                bottom: 57px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 875px) {
  .bestSeller {
    .container {
      .row {
        .carts {
          display: grid !important;
          grid-template-columns: repeat(3, 1fr) !important;
          gap: 20px !important;
          .cart {
            flex: 0 0 auto;
            width: 100%;
            img {
              max-width: 100% !important;
              height: auto !important;
            }
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 20px;
            }
            .countColor {
              .hoverImgsMoreCount {
                position: absolute;
                left: 15px;
                bottom: 40px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .bestSeller {
    .container {
      .row {
        .carts {
          display: grid !important;
          grid-template-columns: repeat(2, 1fr) !important;
          .cart {
            .hoverDiv {
              display: none;
            }
            .countColor {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 410px) {
  .bestSeller {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
      .row {
        .carts {
          display: grid !important;
          grid-template-columns: repeat(1, 1fr) !important;
          // gap: 40px !important;
          .cart {
            img {
              max-width: 100% !important;
              height: auto !important;
            }
            // width: 220px !important;
          }
        }
      }
    }
  }
}
