@import "../../mixins";

.moreTwoSec {
  margin-bottom: 50px;
  .rowMore {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    h2 {
      @include heading;
    }
    .carts {
      width: 100%;
      position: relative;
      // border: 4px solid red;

      .swiper-pagination-bullet {
        background-color: transparent;
      }

      /* Navigation butonlarını küçük yapalım ve alt kısımda ortalayalım */
      // .swiper-button-next, .swiper-button-prev {
      //   color: #fff;
      //   border-radius: 50%;
      //   padding: 20px; /* Butonları küçültme */
      //   z-index: 10;
      //   width: 30px; /* Buton genişliği */
      //   height: 30px; /* Buton yüksekliği */
      //   background-color: #b82d2d;
      //   cursor: pointer;
      // }

      // .swiper-button-next {
      //   position: absolute;
      //   bottom: 0px;
      //   left: 60%;
      //   transform: translateX(50%);
      // }

      // .swiper-button-prev {
      //   position: absolute;
      //   bottom: 0px;
      //   left: 40%;
      //   transform: translateX(-50%);
      // }

      /* Pagination numaraları */
      .swiper-pagination {
        position: absolute;
        // bottom: 5px; /* Pagination'ı butonların hemen altına yerleştir */
        left: 50%;
        transform: translateX(-50%);
        .swiper-pagination-fraction {
          font-size: 16px;
          color: #fff;
        }
      }

      /* Swiper'ı resimlerin altına yerleştirmek için */
      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .paginations {
        display: flex;
        z-index: 300;
        gap: 50px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          height: 500px;
        }
        .cartText {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: auto;
          h3 {
            font-size: 50px;
            color: #221c35;
            font-weight: 200;
            margin-bottom: 15px;
            font-family: "La Mango Light", Arial, sans-serif;
          }
          p {
            text-align: center;
          }
          a {
            @include learnMore;
            margin: 30px 0;
          }
        }
      }
    }
  }
}

@media (max-width: 749px) {
  .moreTwoSec {
    .rowMore {
      .carts {
        .cart {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
