@import "../../mixins";
.newIn {
  .container {
    width: 100%;
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      gap: 30px;
      h2 {
        @include heading;
      }
      .carts {
        width: 100% !important;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 0 20px;
        .cart {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .cartImg {
            width: 100%;
            height: 400px;
            img {
              // width: 360px;
              // height: 400px;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
          .cartInfo {
            width: 100%;
            h3 {
              font-size: 25px;
              color: #221c35;
              font-weight: 200;
              font-family: "La Mango Light", Arial, sans-serif;
            }
            p {
              font-size: 17px;
              color: #221c35;
              margin-bottom: 40px;
              font-weight: 200;
            }
          }
          a {
            text-align: center;
            width: 100%;
            @include learnMore;
          }
        }
      }
      .seeAll {
        margin-top: 30px;
        margin-bottom: 70px;
        a {
          @include learnMore;
        }
      }
    }
  }
}

@media (max-width: 1560px) {
  .newIn {
    .carts {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 20px;
      .cart {
        flex: 0 0 auto;
        width: 300px;
        .cartInfo {
          h3 {
            font-size: 23px !important;
            display: block;
            max-width: 98%;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}

@media (max-width: 1350px) {
  .newIn {
    .carts {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 20px;
      .cart {
        flex: 0 0 auto;
        width: 260px;
        .cartText {
          h3 {
            font-size: 20px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1220px) {
  .newIn {
    .carts {
      display: grid !important;
      grid-template-columns: repeat(4, 1fr) !important;
      .cart {
        img {
          max-width: 100%;
          height: auto;
        }
        flex: 0 0 auto;
        width: 260px;
      }
    }
  }
}

@media (max-width: 1130px) {
  .newIn {
    .carts {
      overflow: hidden !important;
      width: 90% !important;
      display: grid !important;
      grid-template-columns: repeat(4, 245px) !important;
      gap: 3px !important;
      .cart {
        width: 100% !important;
        align-items: center;
        justify-content: center;
        // width: 100%;
        padding: auto !important;
        .cartImg {
          width: 100% !important;

          img {
            width: 100% !important;
          }
        }
      }
    }
  }
}
@media (max-width: 990px) {
  .newIn {
    .carts {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 10px;
      .cart {
        flex: 0 0 auto;
        width: 100%;
      }
    }
  }
}

@media (max-width: 760px) {
  .newIn {
    .carts {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
      .cart {
        width: 490px;
      }
    }
  }
}

@media (max-width: 600px) {
  .newIn {
    .carts {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
      gap: 5px !important;
      .cart {
        width: 100% !important;
        .cartImg {
          height: 250px !important;
          img {
            height: 100% !important;
            object-fit: cover;
          }
        }
        .cartInfo {
          h3 {
            font-size: 16px !important;
          }
          p {
            font-size: 14px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .newIn {
    .carts {
      grid-template-columns: repeat(1, 1fr) !important;
      .cart {
        width: 100% !important;
        .cartImg {
          height: 220px !important;
        }
        .cartInfo {
          h3 {
            font-size: 14px !important;
          }
          p {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 280px) {
  .newIn {
    .carts {
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 2px !important;
      .cart {
        .cartImg {
          height: 180px !important;
        }
        .cartInfo {
          h3 {
            font-size: 12px !important;
          }
          p {
            font-size: 10px !important;
          }
        }
      }
    }
  }
}
