.inputContainer {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    padding: 15px 11px;
    border-radius: 7px;
    border: 1px solid #ccc;
    font-size: 13px;
    outline: none;
    background: transparent;
    transition: border-color 0.3s ease;

    &:focus,
    &.filled {
      border-color: rgb(201, 133, 145);
    }

    &:focus + label,
    &.filled + label {
      top: 10px;
      font-size: 12px;
      color: rgb(201, 133, 145);
    }

    &.inputError {
      border: 2px solid red;
    }
  }

  label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 13px;
    transition: all 0.3s ease;
  }
}
